@import '_variables.scss';

.visa-info-wrapper {
  position: relative;
  z-index: 1;
  color: $black;
  width: 100%;
  max-width: 560px;
  margin: auto;
  margin-top: 30px;
  pointer-events: none;
}

.requirement-wrapper, 
.allowed-stay-wrapper, 
.notes-wrapper,
.sources-wrapper {
  padding: 5px;
  max-width: 560px;
  opacity: 0;
  transform: translate3d(0,10px,0);

  &[data-is-active="false"] {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }

  &[data-is-active="true"] {
    opacity: 1;
    pointer-events: all;
    transform: none;
  }
}

.header-wrapper {
  margin: auto;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.requirement-wrapper {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;

  transition: transform 300ms 300ms ease-out,
              opacity 100ms 300ms linear;

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.allowed-stay-wrapper {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;

  transition: transform 300ms 400ms ease-out,
              opacity 100ms 400ms linear;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.notes-wrapper {
  margin-bottom: 20px;
  transition: transform 300ms 500ms ease-out,
              opacity 100ms 500ms linear;
}

.sources-wrapper {
  text-align: right;
  font-size: 12px;

  transition: transform 300ms 600ms ease-out,
              opacity 100ms 600ms linear;
}

#requirement, 
#allowed-stay, 
#notes,
#sources a {
  display: inline;
  padding: 4px;
  background: white;
  box-shadow: -4px 0 0 0 white, 4px 0 0 0 white;
}

#notes {
  line-height: 1.6em;
}

#sources {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    color: $black;
    margin-bottom: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: 768px) {
      max-width: 350px;
    }
  }
}
